*.tlog
*.obj
*.log
*.opendb
*.suo
*.idb
*.db
*.pdb
*.exe
*.ilk
*.user
*.db-shm
*.db-wal
*.res
*.ipch
*.aps
/Output
/.vs

DataRandomizer/bin
DataRandomizer/obj
DataRandomizer/debug
